*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
header{
    /* background: linear-gradient(blue,yellow); */
    height: 20%;
    background-color: #fff;
    color: black;
    padding: 0px 40px 0px 20px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 1000;
    border: 2px solid #222;
    box-shadow: 3px 7px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    /* justify-content: center; */
    overflow: hidden;
    /* border-right: none; */
  }
  header ul {
    text-align: center;
    /* background-color: black; */
    justify-content: center;
    gap: 30%;
    display: flex;
    list-style-type: none;
  }
  .logo-search {
    display: flex;
    align-items: center;
  }
  .logo-search input {
    /* height: 100%; */
    padding: 10px;
    border: 2PX solid black;
    color: black;
    /* background-color: rgb(235, 232, 232); */
    /* background-color: rgba(17, 17, 17, 0.3); */
    background-color: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    margin-left: 5%;
    /* position: absolute; */
  }
  .logo {
    width: 15%;
    height: 15%;
    align-self: left;
    justify-content: left;
    justify-items: left;
  }
  
  header ul li {
    position: relative;
    /* padding: 10px; */
    cursor: pointer;
    color: black;
    font-size: 1.3rem;
  }
  .tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #25d3b6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    /* clip-path: polygon(50% 0%,100% 100%,0% 100%); */
    z-index: 1000;
  }
  
  header ul :hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
    z-index: 1000;
  }
  .home {
    border-bottom: 2px solid #25d3b6;
  }
  
.h1 h1{
  animation: changecolor 10s ease-in infinite;
}
@keyframes changecolor {
  0%{
    color: red;
  }
  10%{
    color: orange;
  }
  20%{
    color: yellow;
  }
  30%{
    color: green;
  }
  40%{
    color: blue;
  }
  50%{
    color: indigo;
  }
  60%{
    color: violet;
  }
  70%{
    color: indianred;
  }
  80%{
    color: ivory;
  }
  90%{
    color: black;
  }
  100%{
    color: white;
  }
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}
@media (max-width: 1024px){
 

}

::-webkit-scrollbar{
  display: none;
}